*{
	margin:20px;
	padding:0px;
}

body{


}

section.container{
    width: 1200px;
    height:1500px;
    margin: auto;
    margin-top: 60px;
    border: 1px solid gray;
    background-color: #F6eee3;


}

section.container div.objetivo{
    margin-top:100px;
    background-color:#F89352;
    Font-family: Arial, Tahoma;
    Font-size:40px;
    font-weight:400;
    Text-align:center;
    margin-bottom: 60px;


}


h1 {
    Color: #363636;
    Font-family: Arial, Tahoma;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    margin-top:80px;
    margin-bottom:60px;


}
h2{
    background-color: #F89352;
    margin-top: 60px;
    Font-family: Arial, Tahoma;
    font-size: 40px;
    font-weight: 400;
    text-align: center;

}

p{
    margin-top: 40px;
    Font-family: Arial, Tahoma;
    Font-size: 20px;
    font-weight: 200;
    text-align: center;
}

body ul li{
    margin-top: 40px;
    Font-family: Arial, Tahoma;
    Font-size: 20px;
    font-weight: 200;
    margin-left: 460px;

}


