<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portifólio</title>
</head>


<body>


<section class="container">

<h1>Portifólio - Kátia Mitiko</h1>

<div class="objetivo">{{title}}</div>

  <p>Meu objetivo é compreender as principais tecnologias da Informação, buscando desenvolver habilidades nas diversas áreas de TI e assim,  me capacitar para
    atender a demanda do mercado.</p>

<h2>{{title2}}</h2>

  <p>Os Conhecimentos Técnicos estão sendo adquiridos através do Curso Técnico do Senac em TI e diversos cursos on line em plataformas como Udemy, Alura.</p>

<h2>{{title3}}</h2>

   <ul><li>Curso Técnico em TI  - SENAC / RJ</li>
     <li>Curso Angular for Beginners - Udemy </li></ul>

<h2>{{title4}}</h2>

  <p>Até o momento não tenho nenhuma experência profissional na área. </p>

</section>

</body>

</html>
